*{
  margin: 0;
  padding: 10px;
}
body p{
  background-color: rgb(43, 226, 141);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 9px;
  border: 6px solid rgb(214, 18, 18);
  /* box-shadow: 2px 5px rgb(43, 182, 177); */
  
}
body h1{
color: tomato;
  text-align: center;
  font-weight: bolder;
}
img{
  width: 500px;
  height: 600px;
 padding:10% 20%;
 
 
 
}
.dramalist{
  color: brown;
  font-size: 20px;
 /* display: block; */
  border: 6px solid rgb(184, 13, 179);
  margin-top: 20px;
  
}
.login, input{
   margin-top: 20px;
  font-size: 13px;
  font-weight: 100;
  font-style: italic; 
   /* box-sizing: border-box;  */
  border: 5px solid;
  border-radius: 5px;

  width: 40%;
    height: 5%;
   
    
    background: linear-gradient(45deg, #14aac8, rgba(9, 226, 41, 0.267));
}